@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Variable.woff2');
  font-style: normal;
  font-weight: 0 999;
  font-display: swap;
}

:root {
  --color-text: #ffffff;
  --color-accent: #edc63a;
  --color-banner: #1b1d25;
  --color-divider: #4e4e4e;
  --color-bg: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  color: var(--color-text);
  background-color: var(--color-bg);

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-bg);
  }

  ::-webkit-scrollbar {
    width: 5px;

    &-track {
      background: var(--color-bg);
    }

    &-thumb {
      background: var(--color-divider);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  color: var(--color-accent);
  font-weight: 600;
}

p {
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 2px;
  &:focus {
    outline: solid 2px var(--color-text);
    color: '$accent';
    &:not(:focus-visible) {
      outline: none;
      color: inherit;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
}

.hidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}